[Desktop Entry]
Encoding=UTF-8
Name=MX Theme Colors
Name[ca]=MX Colors del tema
Name[de]=MX-Themenfarben
Name[el]=MX Χρώματα θέματος
Name[es]=MX Colores del tema
Name[es_ES]=MX Colores del tema
Name[fi]=MX Teeman värit
Name[fr]=MX Couleurs du thème
Name[fr_BE]=MX Couleurs du thème
Name[hu]=MX Téma színei
Name[it]=MX Colori del tema
Name[ja]=MX テーマカラー
Name[nb]=MX Tema farger
Name[nl]=MX Themakleuren
Name[pt]=MX Cores do tema
Name[pt_BR]=MX Cores do tema
Name[ru_RU]=MX Цвета темы
Name[sl]=MX Barve teme
Name[sq]=MX Ngjyrat e temës
Name[sv]=MX Tematfärger
Name[tr]=MX Tema Renkleri
Name[uk]=MX Кольори теми
Name[zh_CN]=MX 主题颜色
Name[zh_TW]=MX 主题颜色
Comment=Edit the highlight colors of MX-Linux themes
Comment[ca]=Edita els colors de ressaltat dels temes de MX-Linux
Comment[de]=Hervorhebungsfarben von MX-Linux-Themen bearbeiten
Comment[el]=Επεξεργασία των χρωμάτων επισήμανσης των θεμάτων MX-Linux
Comment[es]=Editar los colores resaltados de los temas de MX-Linux
Comment[es_ES]=Editar los colores resaltados de los temas de MX-Linux
Comment[fi]=Muokkaa MX-Linux-teemojen korostusvärejä
Comment[fr]=Modifier les couleurs de surbrillance des thèmes MX-Linux
Comment[fr_BE]=Modifier les couleurs de surbrillance des thèmes MX-Linux
Comment[hu]=Az MX-Linux témák kiemelő színeinek szerkesztése
Comment[it]=Modifica i colori di evidenziazione dei temi MX-Linux
Comment[ja]=MX-Linuxテーマのハイライトカラーを編集する
Comment[nb]=Rediger uthevingfargene til MX-Linux-temaer
Comment[nl]=De accentkleuren van MX-Linux-thema's bewerken
Comment[pt]=Editar as cores de destaque dos temas do MX-Linux
Comment[pt_BR]=Editar as cores de destaque dos temas do MX-Linux
Comment[ru_RU]=Изменение цветов выделения в темах MX-Linux
Comment[sl]=Uredi barve poudarkov tem MX-Linux
Comment[sq]=Redaktoni ngjyrat e theksimit të temave të MX-Linux
Comment[sv]=Redigera markeringsfärgerna för MX-Linux-teman
Comment[tr]=MX-Linux temalarının vurgu renklerini düzenleyin
Comment[uk]=Редагування кольорів виділення тем MX-Linux
Comment[zh_CN]=编辑 MX-Linux 主题的高亮颜色
Comment[zh_TW]=编辑 MX-Linux 主题的高亮颜色
Exec=mx-theme-colors
Terminal=false
Type=Application
Icon=mx-theme-colors
Categories=Settings;MX-Setup;
NoDisplay=false